snippet dox "golang func header note" b
/*
 *  Description: ${0}

 *  Author: jerrylou, <gunsluo@gmail.com>
 *  Since:  `!v strftime("%Y-%m-%d %H:%M:%S")`
 */
endsnippet

snippet doxn "golang new block note" b
// ${0}  `!v strftime("%Y-%m-%d %H:%M:%S")` Add by jerrylou
endsnippet

snippet doxm "golang modify block note" b
// ${0}  `!v strftime("%Y-%m-%d %H:%M:%S")` Edit by jerrylou
endsnippet

